# CSC 106 Week04W In Class Assignment

## Lists - Insert, Update, and Delete

In [117]:
l1 = [1, 1.1, 'H', True]
print(type(l1))
print(type(l1[3]))
print(len(l1))
print(l1[2])

<class 'list'>
<class 'bool'>
4
H

### Insert

In [118]:
print(l1)
l1.append("New Item")
print(l1)

[1, 1.1, 'H', True]
[1, 1.1, 'H', True, 'New Item']

### Update

In [119]:
print(l1)
l1[3] = False
print(l1)

[1, 1.1, 'H', True, 'New Item']
[1, 1.1, 'H', False, 'New Item']

### Delete

In [120]:
print(l1)
l1.pop(4)
print(l1)

[1, 1.1, 'H', False, 'New Item']
[1, 1.1, 'H', False]

## Tuples - Insert, Update, and Delete

In [121]:
t1 = (1, 1.1, 'H', True)
print(type(t1))
print(type(t1[3]))
print(len(t1))
print(t1[3])

<class 'tuple'>
<class 'bool'>
4
True

### Insert (Convert tuple to list and add item(s) to it. Then convert back to tuple.)

In [122]:
print(t1)
list_t1 = list(t1)
list_t1.append("New Item")
t2 = tuple(list_t1)
print(t2)

(1, 1.1, 'H', True)
(1, 1.1, 'H', True, 'New Item')

### Update (Convert tuple to list and change item(s) in it. Then convert back to tuple.)

In [123]:
print(t2)
list_t2 = list(t2)
list_t2[3] = False
t3 = tuple(list_t2)
print(t3)

(1, 1.1, 'H', True, 'New Item')
(1, 1.1, 'H', False, 'New Item')

### Delete (Convert tuple to list and delete item(s) in it. Then convert back to tuple.)

In [124]:
print(t3)
list_t3 = list(t3)
list_t3.pop(4)
t4 = tuple(list_t3)
print(t4)

(1, 1.1, 'H', False, 'New Item')
(1, 1.1, 'H', False)

## Dictionaries - Insert, Update, and Delete

In [125]:
d1 = {
    "Name": "Riley Richter",
    "Address": "750 Little Beaver Dr, Linton, ND, 58552",
    "Email": "rjrichter1@umary.edu"
}
print(type(d1))
print(type(d1["Name"]))
print(len(d1))
print(d1["Name"])

<class 'dict'>
<class 'str'>
3
Riley Richter

### Insert

In [126]:
print(d1)
d1["Age"] = 19
print(d1)

{'Name': 'Riley Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu'}
{'Name': 'Riley Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu', 'Age': 19}

### Update

In [127]:
print(d1)
d1["Name"] = "Riley J Richter"
print(d1)

{'Name': 'Riley Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu', 'Age': 19}
{'Name': 'Riley J Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu', 'Age': 19}

### Delete

In [128]:
print(d1)
d1.pop("Age")
print(d1)

{'Name': 'Riley J Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu', 'Age': 19}
{'Name': 'Riley J Richter', 'Address': '750 Little Beaver Dr, Linton, ND, 58552', 'Email': 'rjrichter1@umary.edu'}

## Sets - Insert, Update, and Delete

In [129]:
s1 = {1, 1.1, 'H', True}
list_s1 = list(s1)
print(type(s1))
print(len(s1))
print(s1)
print(type(list_s1[0]))
print(list_s1[0])
#1=True so set length is 3. Sets don't keep duplicate values.
s2 = {1, 1.1, 'H', False}
list_s2 = list(s2)
print(len(s2))
print(s2)
print(type(list_s2[0]))
print(list_s2[0])

<class 'set'>
3
{1, 'H', 1.1}
<class 'int'>
1
4
{False, 1, 'H', 1.1}
<class 'bool'>
False

### Insert

In [130]:
print(s1)
s1.add("New Item")
print(s1)

{1, 'H', 1.1}
{1, 'H', 'New Item', 1.1}

### Update

In [131]:
print(s1)
s1.remove("New Item")
s1.add("Updated Item")
print(s1)

{1, 'H', 'New Item', 1.1}
{1, 'H', 'Updated Item', 1.1}

### Delete

In [132]:
print(s1)
s1.remove("Updated Item")
print(s1)

{1, 'H', 'Updated Item', 1.1}
{1, 'H', 1.1}