# HomeworkW0401

Using the class exercise on 09/27 (data containers), create a single consolidated data frame of all the data containers. 

1. Data containers design. 25%.

2. API to read (pandas recommended). 25%.

3. Consolidation using API example add or append. 25%.

4. Documentation and presentation. 25%. 

You have to start from primitive data types and consolidate to a final data frame.

## Data container design

In [15]:
dataFrame = {
    "Name": ("Justin", "Blake", "Payton"), #tuple
    "Age": [19, 18, 19], #list
    "Gender": ["Male", "Male", "Male"], #list
    "State": {"ND", "WY", "ND"}, #set
} #dictionary

data

#df = pd.DataFrame(data)

{'Name': ('Justin', 'Blake', 'Payton'),
 'Age': [19, 18, 19],
 'Gender': ['Male', 'Male', 'Male'],
 'State': ['ND', 'WY', 'ND']}

## PANDAS: READ, ADD, DROP

In [16]:
import pandas as pd
data = {
    "Name": ("Justin", "Blake", "Payton"),
    "Age": [19, 18, 19],
    "Gender": ["Male", "Male", "Male"],
    "State": ["ND", "WY", "ND"]
} #dictionary

df = pd.DataFrame(data)
df

     Name  Age Gender State
0  Justin   19   Male    ND
1   Blake   18   Male    WY
2  Payton   19   Male    ND

In [17]:
df["City"] = ["Linton", "Hazelton", "Linton"]
df

     Name  Age Gender State      City
0  Justin   19   Male    ND    Linton
1   Blake   18   Male    WY  Hazelton
2  Payton   19   Male    ND    Linton

In [18]:
df.drop("City", axis=1, inplace=True)
df

     Name  Age Gender State
0  Justin   19   Male    ND
1   Blake   18   Male    WY
2  Payton   19   Male    ND

# GitHub Link